#Project parameter infomation



data_ingestion:
  url: "huggingface/dataset"
  artifacts_dir: Artifacts
  data_ingestion: DataIngestion
  raw_data: zipdata
  data: data

data_transformation:
  data_transformation: DataTransformation
  train: train
  test: test


dataset:
  train_path: data\train.tsv
  test_path: data\test.tsv
  dev_path: data\dev.tsv
  max_length: 128

model:
  pretrained_model: "dmis-lab/biobert-base-cased-v1.1"
  num_labels: 3

training:
  batch_size: 16
  epochs: 5
  learning_rate: 5e-5
  output_dir: Artifacts/biobert_model
  logging_steps: 50